<link rel="stylesheet" type="text/css" href="styles.css">
<div class="linesBody">
	<div class="lines">
		<div class="topLine"></div>
		<div class="bottomLines"></div>
		</div>
	<div class="square"></div>
</div>

