.linesBody {
	position: relative;
	height: 100px;
	width: 70px;
}

.lines {
	position: absolute;
}

.linesBody:hover .topLine{
   left: 10px;
   width: 45px;
}

.linesBody:hover .bottomLines{
   left: 10px;
   width: 45px;
}

.topLine {
	width:0px;
   height:3px;
   top: 14px;
   position: absolute;
   border-top:3px solid green;
   transition: .4s ease-in-out;
   left: 0px;
}

.bottomLines {
	width:0px;
   height: 15px;
   top: 30px;
   left: 0px;
   position: absolute;
   border-top:3px solid green;
   border-bottom:3px solid green;
   transition: .7s ease-in-out;
}

.square {
   width: 60px;
	height: 60px;
	position: absolute;
	border: 3px solid green;
}
